%html 
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html;charset=ISO-8859-1' }
    %style
    %title InCould Index page
    %script{ :type => "text/javascript", :src => 'jquery-1.7.1.js'}
    :javascript
      /*function passed to jquery bound to document ready event*/
      $(function() {
        /* Declare admin form */
        var userform = $("#user_form");
        /* Set click event for input user and urls */
        userform.find("#Submit").click(function(e) {
          e.preventDefault();
          
          var user = $("#user").val();
          var urls = $("#urls").val();

           /*
           * Put Indexing Request
           */
          $.ajax(
            {
              type: "PUT",
              url: "/{index", 
              data: userform.serialize(),
              datatype: "json"
          });
          
          window.location.href = "/crawl"
        });
        
      });

  %body{ :id =>'body'}
    %h1 Welcome to InCloud Indexer page
    %br
    %br
    %form{ :id => "user_form"}
      %section{ :id => "fields"}
        %label{ :for => "user"}User Name: 
        %input{ :type => "text", :name => "user", :id => "user", :maxlength => 60, :size => 60, :required => true}
        %br
        %br
        %label{ :for => "collection"}collection of results: 
        %textarea{ :type => "collection", :name => "collection", :id => "collection", :row => 100, :cols => 60, :required => true}
        %br
        %br
        %label{ :for => "keys"}keys for indexing:
        %textarea{ :type => "keys", :name => "keys", :id => "keys", :row => 10, :cols => 65, :required => true}
        %br
      %section{ :id => "buttons"}
        %br
        %br
        %button{ :type => "button", :id => "Submit"}Submit